services:
  - type: web
    name: carte-des-talents
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: ./
    plan: free
    buildCommand: ""
    startCommand: ""
    envVars:
      - key: PYTHON_VERSION
        value: 3.11
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "False"
      - key: ALLOWED_HOSTS
        value: ".onrender.com"
    healthCheckPath: /

databases:
  - name: carte-des-talents-db
    plan: free
    databaseName: carte_des_talents
    user: carte_des_talents_user

